body {
    margin: 0;
    padding: 0;
}
#particles-js {
    /* 100vh is used so that the background is compatible with mobile */
    height: 100vh;
    background: rgb(0, 0, 0);
}
.col {
    margin: 10px;
    text-align:center;
    font-size: 120px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}
.time, .labels {
    padding:10px;
}
.labels {
    font-size: 30px;
    border-top: 1px solid;
}
#hour-tile {
    background-color:rgb(80, 227, 253);
    border-radius: 10%;
}
#minute-tile {
    background-color:rgb(253, 221, 80);
    border-radius: 10%;
}
#second-tile {
    background-color:rgb(94, 253, 80);
    border-radius: 10%;
}
#ampm-tile {
    background-color:rgb(253, 115, 80);
    border-radius: 10%;
}

    

