:root {
    --dark-grey: #111827;
    --white: #f8f8f8;
    --indigo-100: #e0e7ff;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-600: #4338ca;
    --indigo-900: #312e81;
}

body {
    width: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    font-family: sans-serif;
    margin: 0;
}

body.dark {
    background-color: var(--dark-grey);
    color: var(--white);
}