body {
    overflow-x: hidden;
}
nav {
    height: 4rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    font-weight: 300;
    transition: 0.2 ease-in-out;
}
.logo {
    padding: 1vh 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    width: 25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 90vw;
    padding-right: 2vw;
    justify-content: flex-end;
    align-items: center;
}
.nav-links li a {
    text-decoration: none;
    margin: 0 1.7vw;
    color: #fff;
    font-family: sans-serif;
}
.nav-links li a:hover {
    color: #61dafb;
}
.nav-links li {
    position: relative;
}
.nav-links li a:before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    top: 25px;
    background-color: #61dafb;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}