.container {
    max-width:1200px;
}
.center-align, h1{
    padding: 12px;
    text-align: center;
}
.center-align .row, .container .row #link{
    display: inline-block;
}
p, ul li {
    font-size:18px;
    margin-bottom:0; 
}
hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border-width: 2px;
    background-color: #4f90cd;
}
a {
    cursor: pointer;
}
#refresh,#contents,#delete,#undo,#experience,#project,#progress,#links,#pdf_chrome,#pdf_mozilla {
    background-color: #f3f3f3;
    border: 1px solid;
}
#refresh .row,#contents .row,#delete .row,#undo .row,#experience .row
,#project .row,#progress .row,#links .row,#pdf_chrome .row,#pdf_mozilla .row {
    padding:20px;
}
.footer {
    background: #303036;
    color: #d3d3d3;
    height: 50px;
    margin-top: 50px;
}
.footer .footer-bottom {
    background: #303036;
    color: #f3f3f3;
    height: 50px;
    width:100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
}
.footer .footer-bottom a{
    color: #f3f3f3;
}



