* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    padding: 0 15px;
}

p {
    font-size: 16px;
}

label.logo {
    color: white;
    font-size: 30px;
    line-height: 75px !important;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    max-width: auto;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 14px;
    border-radius: 3px;
}
.about-us h1, .life-insurance h1, .deposit h1, .general h1, .mutual-fund h1 {
    text-transform: uppercase;
}

nav ul li a:active, a:hover {
    /* background: #1b9bff; */
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    label.logo{
        /* font-size: 30px; */
        padding-left: 50px;
    }

    #menu-bar ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    #menu-bar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    #menu-bar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #menu-bar ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
    label.logo {
        font-size: 18px;
    }
    .what-we-do img {
        width: 300px;
    }
}

.what-we-do {
   background-color: rgb(241, 241, 241);
   padding-bottom: 10px;
}

.what-we-do .container .row h1, .services .container .row h1 {
    text-transform: uppercase;
    text-align: center;
}

.what-we-do .container .row .col-12,.col-sm-12,.col-md-6,.col-lg-6 {
    text-align: center;
    padding-top:10px;
}

.what-we-do .container .row .col-12,.col-sm-12,.col-md-6,.col-lg-6 p {
    font-size: 15px;
}

.what-we-do .container .row .col-12,.col-sm-12,.col-md-6,.col-lg-6 img {
    border-radius: 5px;
}

.what-we-do .container #what-we-do, .services .container #services {
    padding-top: 2%;
}

.what-we-do .container #what-we-do, .services .container {
    padding-bottom: 2%;
}

.top-header {
    padding: 15px 0;
}

.top-header .container .site-logo .col-sm-12, .col-md-6, .col-lg-6 {
    text-align: left;
}

#social {
        text-align: right;

}

.fab {
    cursor: pointer;
}

.top-header .container .social-media .col-sm-12,.col-md-6,.col-lg-6 i {
    padding: 10px;
    font-size: 25px;
}

@media (max-width: 858px) {
    .top-header .container .social-media .col-sm-12,.col-md-6,.col-lg-6 i,
    .top-header .container .site-logo .col-sm-12, .col-md-6, .col-lg-6, #social {
        text-align: center;
}

.services {
    padding-bottom: 2% !important;
}

/* Hero Slider */

.hero-slider {
    position: relative;
    margin-bottom: 50px; }
    .hero-slider .slides {
      list-style: none;
      *zoom: 1; }
      .hero-slider .slides:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0; }
      .hero-slider .slides li {
        min-height: 400px;
        float: left;
        margin-right: -100%;
        width: 100%;
        background-size: cover;
        background-position: center center; }
    .hero-slider .slide-content {
      border-radius: 3px;
      background-color: white;
      width: 25%;
      padding: 30px;
      margin-top: 50px;
      margin-bottom: 30px; }
      @media screen and (max-width: 990px) {
        .hero-slider .slide-content {
          width: 50%; } }
      @media screen and (max-width: 480px) {
        .hero-slider .slide-content {
          width: 100%; } }
      .hero-slider .slide-content .slide-title {
        font-size: 35px;
        font-size: 2.1875em;
        font-weight: 300;
        margin-bottom: 30px; }
        .hero-slider .slide-content .slide-title strong {
          color: #0f75bd;
          display: block;
          font-weight: 300; }
      .hero-slider .slide-content p {
        line-height: 2;
        margin-bottom: 50px; }
    .hero-slider .flex-control-nav {
      list-style: none;
      position: absolute;
      bottom: -50px;
      width: 100%;
      text-align: center; }
      .hero-slider .flex-control-nav li {
        display: inline-block;
        margin: 0 5px; }
        .hero-slider .flex-control-nav li a {
          display: block;
          width: 15px;
          height: 15px;
          background-color: #c6c7c7;
          border-radius: 50%;
          overflow: hidden;
          text-indent: -99999px;
          cursor: pointer; }
          .hero-slider .flex-control-nav li a.flex-active {
            background-color: #0f75bd; } }

.carousel-caption {
    background-color:white;
    opacity:0.8;
}

.carousel-caption h3 {
    color:#0082e6;
}
.carousel-caption p {
    color:black;
}

.carousel-indicators li.active {
    background-color: #0082e6;
    transition: 0.5s;
}

.carousel-indicators li {
    border: 1px solid #0082e6;
}

/*
 * Footer Styles
 */
 .site-footer {
    border-top: 1px solid #ccc;
    padding-top: 2%;
    padding-bottom: 2%;
text-align: center; }
    .site-footer .widget-area {
      margin-bottom: 0; }
      .site-footer .widget-area .widget {
        font-size: 14px;
        font-size: 0.875em;
        margin-bottom: 30px; }
      .site-footer .widget-area .widget-title {
        font-size: 20px;
        font-size: 1.25rem; }
      .site-footer .widget-area a {
        color: #768089; }
      .site-footer .widget-area ul {
        list-style-type: none; }
    .site-footer .bottom-footer {
      background-color: #4a4c4e;
      text-align: center;
      padding: 30px 0;
      font-size: 14px;
      font-size: 1em; }
    .site-footer .footer-navigation {
      margin-bottom: 30px; }
      .site-footer .footer-navigation a {
        color: white;
        padding: 0 10px;
        border-right: 1px solid white;
        line-height: 20px; }
        .site-footer .footer-navigation a:last-child {
          border-right: none; }
    .site-footer .colophon {
      color: #898b8d; }

      .site-footer nav {
          background-color: #4a4c4e;
          height: 40px;
          margin-bottom: 0 !important;
      }

.site-footer li a {
    font-size: 14px;
}

.about-us {
    padding: 2% 0;
}

.features {
    *zoom: 1;
    margin: 0 -15px;
    position: relative;
    z-index: 1; }
    .features:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
    .features:after {
      content: " ";
      height: 50px;
      top: 50px;
      left: 15px;
      right: 15px;
      position: absolute;
      /* background: url(images/dotted.png) repeat-x; */
      z-index: -1; }
      @media screen and (max-width: 768px) {
        .features:after {
          display: none; } }
    .features .feature-numbered {
      width: 25%;
      float: left;
      padding: 15px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .features .feature-numbered {
          width: 50%; } }
      @media screen and (max-width: 480px) {
        .features .feature-numbered {
          width: 100%; } }
      .features .feature-numbered .num {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #0f75bd;
        color: #0f75bd;
        text-align: center;
        font-size: 36px;
        font-size: 2.25em;
        line-height: 1.8;
        font-weight: 400;
        margin: 0 auto 20px;
        background-color: white;
        box-shadow: 0 0 0 10px white; }
      .features .feature-numbered .feature-title {
        font-size: 20px;
        font-size: 1.25em;
        color: #0f75bd;
        font-weight: 400; }

.contact-form input:not([type="submit"]), .contact-form textarea {
width: 100%;
margin-bottom: 10px;
-webkit-transition: .3s ease;
        transition: .3s ease; }
.contact-form input:not([type="submit"]):focus, .contact-form input:not([type="submit"]):hover, .contact-form textarea:focus, .contact-form textarea:hover {
    border-color: #0f75bd; }
.contact-form textarea {
min-height: 150px;
margin-bottom: 20px; }

.map {
    min-height: 450px;
    border-radius: 4px;
    margin: 2% 0;}

.contact-form {
    margin-bottom: 2%;
}

.profile {
    padding: 20px 0;
}

.contact-us-form {
    padding: 2% 0;
    background: #0082e6;
    color: white;
    text-align: center;
}

#myCarousel img:hover, .what-we-do img:hover, .life-insurance img:hover, 
.deposit img:hover, .general img:hover, .mutual-fund img:hover {
    transition: transform .5s;
    transform: scale(1.1); 
}

.life-insurance img, .deposit img {
    margin-top: 12%;
    border-radius: 5px;
}