* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'consolas';
    text-align: center;
}
body {
    background: url('./wood.jpg');
}
#logo {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1%;
}
.sky {
    padding-top: 9%;
    justify-items: center;
    align-items: center;
}
.sky h1 {
    font-size: 16em;
    color: #fff;
    text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 0 auto;
    margin: 0;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 2s steps(6) infinite;
    border-right: 3px solid #fff;
    display: inline-block;
}
@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 6ch;
    }
}
.field{ 
    display: grid;
}
.field h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 auto 20px auto;
    padding: 0 20px;
}
.field a {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border: solid 2px #fff;
    padding: 5px 20px;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
}
.field a:hover {
    text-decoration: none;
    background: #fff;
    color: #111;
}
.field p {
    font-size: 1.3em;
    font-weight: 700;
    margin: auto;
    padding: 0 20px 30px 20px;
    color: #fff;
}
@media(max-width: 1000px) {
    .sky {
        padding-top: 20%;
        padding-bottom: 10%;
    }
    .sky h1 {
        font-size: 10em;
    }
    .field h2 {
        font-size: 2em;
    }
    .field a {
        font-size: 1em;
        padding: 0 18px;
    }
    .field p {
        font-size: 1em;
    }
}
@media(max-width: 550px) {
    .sky {
        padding-top: 40%;
        padding-bottom: 10%;
    }
    .sky h1 {
        font-size: 10em;
    }
    .field h2 {
        font-size: 2em;
    }
    .field a {
        font-size: 1em;
        padding: 0 18px;
    }
    .field p {
        font-size: 1em;
    }
}
@media(max-width: 400px) {
    .sky {
        padding-top: 50%;
        padding-bottom: 15%;
    }
    .sky h1 {
        font-size: 8em;
    }
    .field h2 {
        font-size: 1.8em;
    }
    .field a {
        font-size: 1.3em;
        padding: 0 18px;
    }
    .field p {
        font-size: 1.3em;
    }
}